<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gif Battle!</title>

  <!-- css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bowlby+One+SC">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
  <link rel="stylesheet" href="styles.css">

  <!-- js -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>

  <!-- authentication -->
  <script src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js"></script>
  <script src="auth0.js"></script>
</head>
<body>
<div id="app">

  <!-- header ========================= -->
  <nav class="navbar">
  <div class="container">
    <a class="navbar-item" href="/">
      MY GIF BATTLE
    </a>

    <a class="navbar-item" href="#vote">Vote</a>
    <a class="navbar-item" href="#create">Create</a>

    <a class="navbar-item" @click="login" v-if="!isLoggedIn">Login</a>
    <a class="navbar-item" @click="logout" v-if="isLoggedIn">Logout</a>
  </div>
  </nav>

  <!-- our voting app ========================= -->
  <section id="vote" class="hero is-info is-fullheight is-bold">
  <div class="hero-body has-text-centered">
  <div class="container">

    <h1 class="title">Fight!</h1>
    <div v-if="!battleGifs" class="notification is-danger">Preparing to Battle!</div>

    <div class="columns" v-if="battleGifs">
    <div class="column is-half">

      <!-- gif one -->
      <div class="box" v-if="battleGifs.gif_one">
        <div class="gif-container">
          <img :src="battleGifs.gif_one.url">
          <div class="caption">{{ battleGifs.gif_one.caption }}</div>
        </div>
  
        <a 
          class="button is-large is-fullwidth is-warning" 
          @click="voteOnGif(battleGifs.gif_one.id)">
            Vote!
        </a>
      </div>

    </div>
    <div class="column is-half">

      <!-- gif two -->
      <div class="box" v-if="battleGifs.gif_two">
        <div class="gif-container">
          <img :src="battleGifs.gif_two.url">
          <div class="caption">{{ battleGifs.gif_two.caption }}</div>
        </div>
  
        <a class="button is-large is-fullwidth is-warning" @click="voteOnGif(battleGifs.gif_two.id)">
          Vote!
        </a>
      </div>
    </div>
    </div>

  </div>
  </div>
  </section>

  <!-- our gif creator thing ====================== -->
  <section id="create" class="hero is-primary is-fullheight is-bold">
  <div class="hero-body">
  <div class="container">

    <h1 class="title has-text-centered">Create!</h1>

    <!-- random gif -->
    <div id="gif-creator" class="box" v-if="randomGif">
      <div class="gif-container">
        <a class="refresh" @click="getRandomGif">🔄</a>

        <img :src="randomGif.url">
        <div class="caption">{{ caption }}</div>
      </div>

      <input type="text" class="input" v-model="caption">

      <a 
        href="#" 
        class="button is-large is-fullwidth is-success" 
        @click.prevent="saveGif"
        v-if="isLoggedIn">
          Create
      </a>

      <a 
        class="button is-large is-fullwidth is-success" 
        @click="login" 
        v-if="!isLoggedIn">
          Login to Create
      </a>
    </div>

  </div>
  </div>
  </section>

  <!-- leaderboard -->
  <section id="leaderboard" class="hero is-dark is-fullheight is-bold">
  <div class="hero-body">
  <div class="container has-text-centered">

    <table class="table is-bordered is-fullwidth" v-if="leaderboard">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Gif</th>
          <th>Votes</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(gif, index) in leaderboard">
          <td>{{ index + 1 }}</td>
          <td>
            <div class="gif-container">
              <img :src="gif.url" width="200">
              <div class="caption">{{ gif.caption }}</div>
            </div>
          </td>
          <td>
            {{ gif.votes }}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  </div>
  </section>

</div>

  <!-- our vue stuff =================== -->
  <script>
    const app = new Vue({
      el: '#app',

      // our properties
      data: {
        apiUrl:     'https://wt-fbf1133d4c0420e5070f01e86112d679-0.run.webtask.io/gif-battle',
        battleGifs:  null,
        randomGif:   null,
        caption:     null,
        leaderboard: null,
        isLoggedIn:  false
      },

      // lifecycle hook
      created: function() {
        window.authService.handleAuthentication();
        this.isLoggedIn = window.authService.isAuthenticated();

        this.getGifBattle();
        this.getRandomGif();
        this.getLeaderboard();
      },

      // application methods
      methods: {
        // for the gif battle
        getGifBattle: function() {
          const url = `${this.apiUrl}/battle`;
          axios.get(url)
                .then(response => {
                  console.log(response.data);
                  this.battleGifs = response.data
                });
        },       

        // vote on a certain gif in a battle 
        voteOnGif: function(id) {
          const url = `${this.apiUrl}/vote`;
          axios.post(url, { id })
                .then(response => {
                  // get another gif battle
                  this.getGifBattle();
                });
        },

        // for the gif creator
        getRandomGif: function() {
          const url = `${this.apiUrl}/random`;
          axios.get(url)
                .then(response => this.randomGif = response.data);
        },        

        // save the gif + caption that we just created
        saveGif: function() {
          const url = `${this.apiUrl}`;

          axios.post(url, {
            id:      this.randomGif.id,
            url:     this.randomGif.image_original_url,
            caption: this.caption,
            votes:   0
          })
            .then(response => {
              this.getRandomGif();
              this.caption = '';
            });
        },
        
        // get the leaderboard 
        getLeaderboard: function() {
          const url = `${this.apiUrl}/leaderboard`;
          axios.get(url)
                .then(response => this.leaderboard = response.data);
        },

        // log the user in
        login: function() {
          window.authService.login();
        },

        logout: function() {
          window.authService.logout();
        }
      }
    });
  </script>
</body>
</html>